@use './../../styles/' as *;

.EditorLayout
{
    height: calc(100% - 70px);
    border-top: 2px solid $elevation-5;

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .viewport
    {
        flex-grow: 1;

        .horizontal
        {
            height: 100%;
            display: flex;
            flex-direction: row;

            .browser
            {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 15%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 3px solid #000000;
            }

            .editor
            {
                height: 100%;
                flex-basis: 70%;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
            }

            .elements
            {
                flex-basis: 15%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-left: 3px solid #000000;
            }
        }


    }

    .bar
    {
        flex-basis: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.5rem;
        background: $surface-color;
        border-top: 2px solid #000000;
        color: $text-disabled;
        
        &.success
        {
            background: darken($success-color, 15);
            border-top: 2px solid $success-color;
            color: $success-color;
        }

        &.warning
        {
            background: darken($warning-color, 30);
            border-top: 2px solid $warning-color;
            color: $warning-color;
        }

        &.error
        {
            background: darken($error-color, 20);
            border-top: 2px solid $error-color;
            color: $error-color;
        }
    }
}

.gutter {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 50%;

    &.gutter-horizontal {
        cursor: col-resize;
    }
    &.gutter-vertical {
        cursor: row-resize;
    }

    &:hover
    {
        background: $elevation-5;
    }
}

