@use './styles/' as *;

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size-default;
    user-select: none;
}

body, html {
    height: 100vh;
}

#root
{
    height: 100%;
}

canvas
{
    display: block;
}


.button-google
{
    background: $light;
    border-color: $dark;
    color: $dark;

    &:hover
    {
        background: darken($light, 5);
    }
}

.button-github
{
    background: $dark;
    color: $light;

    &:hover
    {
        background: lighten($dark, 10);
        
    }
}
