@use './../../styles/' as *;

.Scrollable
{
    display: flex;
    flex-direction: column;
    width: 100%;

    &.active
    {
        .Scrollable__container
        {
            overflow: auto;

            &__content
            {
                margin: 0.5rem;
            }
        }
    }

    &__container
    {
        flex-grow: 1;
        min-height: 0;
    }
}
